ul.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

.image {
  position: relative;
  width: 100%;
}

body {
}

h1 {
  display: inline;
  font-size: 40px;
  color: #064363;
}
h2 {
  padding-left: 210px;
}
h2:hover {
  color: #FF4363;
}

#main-text {
  padding-left: 210px;
  color: #FF4363;
}
#footer {
  padding-left: 210px;
}
